.section_about {
    background: linear-gradient(to top, #2b2b2b, #1f1f1f);
    color: #fff;
    position: relative;
    margin-top: 72px;
    height: 85vh;
}

.section_about_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    object-fit: cover;
}

.container_about {
    width: 1400px;
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.about_content {
    width: 50%;
    padding-left: 80px;
}

.about_title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 34px;
    text-align: left;
    margin-bottom: 20px;
}

.about_text {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 900;
    text-indent: 30px;
    font-size: 18px;
    line-height: 1.67;
    margin: 0;
}

@media (max-width:1200px) {
    .section_about {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .about_content {
        padding-left: 50px;
    }
}

@media (max-width:767px) {
    .section_about_img {
        width: 100%;
        opacity: 0.5;
    }
    .container_about {
        justify-content: center;
    }
    .about_content {
        padding-left: 0;
        width: 500px;
        max-width: 100%;
    }
}